app-display-details {
  margin-left: 130px;
}
.common {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 30%;
  background-color: white !important;
  border-radius: 7px !important;
  border: none !important;
}
